<div class="masthead">
	<h3 class="muted">Group</h3>
	<div class="navbar">
	<div class="navbar-inner">
	<div class="container">
	<ul class="nav">
	<li class="active"><a href="#"><b>Home</b></a></li>
	<li><a href="#"><b>Study</b></a></li>
	<li><a href="#"><b>Job</b></a></li>
	<li><a href="#"><b>Market</b></a></li>
	<li><a href="#"><b>Housing</b></a></li>
	<li><a href="#"><b>Bargains</b></a></li>
	<li><a href="#"><b>Events</b></a></li>
	</ul>
	</div>
	</div>
	</div><!-- /.navbar -->
	</div>


<div class="container-fluid">
        <div class="row-fluid">
                <div class="span12">
                        <h3>
                                Find our best offers for your interested groups!
                        </h3>
                        
                        <ul>
                                <li>
                                        <strong><strong>News around school</strong></strong>
                                </li>
                                <li>
                                        <strong><strong>Sports</strong></strong>
                                </li>
                                <li>
                                        <strong><strong>Local events and offers</strong></strong>
                                </li>
                                <li>
                                        <strong><strong>Hi-tech</strong></strong>
                                </li>
                                <li>
                                        <strong><strong>Social entrepreuner</strong></strong>
                                </li>
                                <li>
                                        <strong><strong>Market &amp; Trade</strong></strong>
                                </li>
                                <li>
                                        <strong><strong>Housing &amp; Living</strong></strong>
                                </li>
                                <li>
                                        <strong><strong>Academic resources</strong></strong>
                                </li>
                        </ul>
                        <div class="progress">
                                <div class="bar">
                                </div>
                        </div>
                </div>
        </div>
        <div class="row-fluid">
                <div class="span12">
                        <div class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="img/a_002.jpg" alt='' /></a>
                                <div class="media-body">
                                        <h4 class="media-heading">
                                                Welcome to the exciting world that you can find thousands like you.
                                        </h4>
                                        <h4 class="media-heading">
                                                <span>Ask</span><span>, Answer, Sharing, Sparkling!</span>
                                        </h4> Please wait till our new video to be released.
                                </div>
                        </div>
                        <br></br>
                        <div class="row-fluid">
<div class="span4">
<div class="row-fluid">
<div class="span4">
</div>
<div class="span4">
     <%= link_to image_tag("more.png", alt: "more",class: "img-circle center-block"), '#' %>
</div>
<div class="span4">
</div>
</div>
<blockquote>
<p ><font color="#B43104">
group1
</p> <small><font color="#0489B1"></small>
</blockquote>
</div>

<div class="span4">
<div class="row-fluid">
<div class="span4">
</div>
<div class="span4">
     <%= link_to image_tag("more.png", alt: "more",class: "img-circle center-block"), '#' %>
</div>
<div class="span4">
</div>
</div>
<blockquote>
<p ><font color="#B43104">
group1
</p> <small><font color="#0489B1"></small>
</blockquote>
</div>

<div class="span4">
<div class="row-fluid">
<div class="span4">
</div>
<div class="span4">
     <%= link_to image_tag("more.png", alt: "more",class: "img-circle center-block"), '#' %>
</div>
<div class="span4">
</div>
</div>
<blockquote>
<p ><font color="#B43104">
group1
</p> <small><font color="#0489B1"></small>
</blockquote>
</div>
                        </div>
                        
                        
                     <div class="row-fluid">
<div class="span4">
<div class="row-fluid">
<div class="span4">
</div>
<div class="span4">
     <%= link_to image_tag("more.png", alt: "more",class: "img-circle center-block"), '#' %>
</div>
<div class="span4">
</div>
</div>
<blockquote>
<p ><font color="#B43104">
group1
</p> <small><font color="#0489B1"></small>
</blockquote>
</div>

<div class="span4">
<div class="row-fluid">
<div class="span4">
</div>
<div class="span4">
     <%= link_to image_tag("more.png", alt: "more",class: "img-circle center-block"), '#' %>
</div>
<div class="span4">
</div>
</div>
<blockquote>
<p ><font color="#B43104">
group1
</p> <small><font color="#0489B1"></small>
</blockquote>
</div>

<div class="span4">
<div class="row-fluid">
<div class="span4">
</div>
<div class="span4">
     <%= link_to image_tag("more.png", alt: "more",class: "img-circle center-block"), '#' %>
</div>
<div class="span4">
</div>
</div>
<blockquote>
<p ><font color="#B43104">
group1
</p> <small><font color="#0489B1"></small>
</blockquote>
</div>

                        </div>
                        
                        <div class="row-fluid">
<div class="span4">
<div class="row-fluid">
<div class="span4">
</div>
<div class="span4">
     <%= link_to image_tag("more.png", alt: "more",class: "img-circle center-block"), '#' %>
</div>
<div class="span4">
</div>
</div>
<blockquote>
<p ><font color="#B43104">
group1
</p> <small><font color="#0489B1"></small>
</blockquote>
</div>

<div class="span4">
<div class="row-fluid">
<div class="span4">
</div>
<div class="span4">
     <%= link_to image_tag("more.png", alt: "more",class: "img-circle center-block"), '#' %>
</div>
<div class="span4">
</div>
</div>
<blockquote>
<p ><font color="#B43104">
group1
</p> <small><font color="#0489B1"></small>
</blockquote>
</div>

<div class="span4">
<div class="row-fluid">
<div class="span4">
</div>
<div class="span4">
     <%= link_to image_tag("more.png", alt: "more",class: "img-circle center-block"), '#' %>
</div>
<div class="span4">
</div>
</div>
<blockquote>
<p ><font color="#B43104">
group1
</p> <small><font color="#0489B1"></small>
</blockquote>
</div>
                        </div>
                </div>
        </div>
</div>
