<!--div class="center hero-unit"-->
<div class = "intro">
<h1>Welcome to Studentshood</h1>
<h2>This is a private platform for university students</a>
</h2>
<div class = "center">
 <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
</div>
<p>&nbsp</p>
<div class="img">
<%= link_to image_tag("kth.jpg", alt: "Royal Institute of Technology"), '#' %>
<div class="desc">Royal Institute of Technology</div>
</div>
<div class="img">
<%= link_to image_tag("su.png", alt: "Stockholm University"), '#' %>
<div class="desc">Stockholm University</div>
</div>
<div class="img">
<%= link_to image_tag("KI.png", alt: "Karolinska Institutet"), '#' %>
<div class="desc">Karolinska Institutet</div>
</div>
<div class="img">
<%= link_to image_tag("cth.jpg", alt: "Chalmers University of Technology"), '#' %>
<div class="desc">Chalmers University of Technology</div>
</div>

<%= link_to image_tag("studentshood.png", alt: "Studentshood"), 'http://studentshood.com/' %>

